#header{
    background-color: grey;
    background: linear-gradient(0deg, rgba(112,138,138,1) 0%, rgba(219,217,211,1) 100%);
    height:100vh;
}
#logo {
    color:white;
    position:absolute;
    bottom:150px;
    left:50px;
}