
.container{
    width:100%;
    min-width:100vw;
}
.img {
        height:80vh;
        width:70vw;
        margin:20px 20px 20px 20px;
        background: linear-gradient(25deg,rgba(150,156,156,0.33143679835215334) 0%, rgba(233,238,233,0.44348161627932425) 37%, rgba(219,217,211,0.24740318490677526) 100%);
        float:left;
    }

    .img2 {
        height:80vh;
        width:80vw;
        margin:20px 20px 20px 20px;
        background: linear-gradient(25deg,rgba(150,156,156,0.33143679835215334) 0%, rgba(233,238,233,0.44348161627932425) 37%, rgba(219,217,211,0.24740318490677526) 100%);
        float:right;
    }