
.container{
    width:100%;
    min-width:100vw;
}
.img {
        height:80vh;
        width:50vw;
        margin:20px 20px 20px 20px;
        background: rgb(145,182,182);
        float:left;
    }

    .img2 {
        height:80vh;
        width:50vw;
        margin:20px 20px 20px 20px;
        background: rgb(145,182,182);
        float:right;
    }